.next
.vercel
node_modules
.DS_Store
.env
package-lock.json
public/files
yarn-error.log
public/fetchme.js
public/users
*.db
prisma/*.db
users1/
logfile
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
